# Source: https://github.com/marketplace/actions/mkdocs-action#example-usage
name: MkDocs deploy page

on: 
  - push
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
      - name: Update MAVLink tables
        run: python update_mavlink_tables.py --ignore-errors
      - name: Update bibliography
        run: python update_bibliography.py
        continue-on-error: true  # the script only modifies files at the end
      - name: Build HTML
        run: python -m mkdocs build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
